<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sun</string>
		<key>radius</key>
		<real>261600000</real>
		<key>mass</key>
		<real>1.756567e+28</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
			<key>gravitationalParameter</key>
			<real>1.1723328e+18</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Moho</string>
		<key>radius</key>
		<integer>250000</integer>
		<key>mass</key>
		<real>2.5263617e+21</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<integer>9646663</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Eve</string>
		<key>radius</key>
		<real>700000</real>
		<key>mass</key>
		<real>1.2244127e+23</real>
		<key>maxAtmosphere</key>
		<real>96708.57399999999</real>
		<key>sphereOfInfluence</key>
		<integer>85109365</integer>
		<key>orbit</key>
		<dict>
			<key>longitudeOfAscendingNode</key>
			<integer>15</integer>
			<key>inclination</key>
			<real>2.1</real>
			<key>eccentricity</key>
			<real>0.01</real>
			<key>meanAnomalyAtEpoch</key>
			<integer>180</integer>
			<key>semiMajorAxis</key>
			<real>9832684544</real>
			<key>period</key>
			<integer>5657995</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Gilly</string>
		<key>radius</key>
		<integer>13000</integer>
		<key>mass</key>
		<real>1.2420512e+17</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>126123.27</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Kerbin</string>
		<key>radius</key>
		<integer>600000</integer>
		<key>mass</key>
		<real>5.2915793e+22</real>
		<key>maxAtmosphere</key>
		<real>69077.553</real>
		<key>sphereOfInfluence</key>
		<integer>84159286</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>13599840256</integer>
			<key>period</key>
			<real>9203544.597217331</real>
			<key>gravitationalParameter</key>
			<real>3531600000000</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Mun</string>
		<key>radius</key>
		<integer>200000</integer>
		<key>mass</key>
		<real>9.7600236e+20</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>2429559.1</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Minmus</string>
		<key>radius</key>
		<integer>60000</integer>
		<key>mass</key>
		<real>2.6457897e+19</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>2247428.4</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Duna</string>
		<key>radius</key>
		<integer>320000</integer>
		<key>mass</key>
		<real>4.5154812e+21</real>
		<key>maxAtmosphere</key>
		<real>41446.532</real>
		<key>sphereOfInfluence</key>
		<integer>47921949</integer>
		<key>orbit</key>
		<dict>
			<key>meanAnomalyAtEpoch</key>
			<integer>180</integer>
			<key>longitudeOfAscendingNode</key>
			<real>135.5</real>
			<key>inclination</key>
			<real>0.06</real>
			<key>eccentricity</key>
			<real>0.05</real>
			<key>semiMajorAxis</key>
			<integer>20726155264</integer>
			<key>period</key>
			<real>17315400.1044076</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Ike</string>
		<key>radius</key>
		<integer>130000</integer>
		<key>mass</key>
		<real>2.7821949e+20</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>1049598.9</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Dres</string>
		<key>radius</key>
		<integer>138000</integer>
		<key>mass</key>
		<real>3.2191322e+20</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<integer>32832840</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Jool</string>
		<key>radius</key>
		<integer>6000000</integer>
		<key>mass</key>
		<real>4.2332635e+24</real>
		<key>maxAtmosphere</key>
		<real>138155.11</real>
		<key>sphereOfInfluence</key>
		<real>2455985200</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Laythe</string>
		<key>radius</key>
		<integer>500000</integer>
		<key>mass</key>
		<real>2.9397663e+22</real>
		<key>maxAtmosphere</key>
		<real>55262.042</real>
		<key>sphereOfInfluence</key>
		<real>3723645.8</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Vall</string>
		<key>radius</key>
		<integer>300000</integer>
		<key>mass</key>
		<real>3.1088028e+21</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>2406401.4</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Tylo</string>
		<key>radius</key>
		<integer>600000</integer>
		<key>mass</key>
		<real>4.2332635e+22</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<integer>10856518</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Bop</string>
		<key>radius</key>
		<integer>65000</integer>
		<key>mass</key>
		<real>3.7261536e+19</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>1221060.9</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Pol</string>
		<key>radius</key>
		<integer>44000</integer>
		<key>mass</key>
		<real>1.0813636e+19</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>sphereOfInfluence</key>
		<real>1042138.9</real>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Eeloo</string>
		<key>radius</key>
		<integer>210000</integer>
		<key>mass</key>
		<real>1.1149358e+21</real>
		<key>sphereOfInfluence</key>
		<real>119082940</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>orbit</key>
		<dict>
			<key>semiMajorAxis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
