<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.756567e+28</real>
		<key>maxAtmosphere</key>
		<real>700000000</real>
		<key>name</key>
		<string>Sun</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>1.17233279483249e+18</real>
			<key>inclination</key>
			<real>0.0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.0</real>
			<key>semiMajorAxis</key>
			<real>0.0</real>
		</dict>
		<key>radius</key>
		<real>261600000</real>
		<key>rotationPeriod</key>
		<real>432000</real>
		<key>sphereOfInfluence</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<true/>
		<key>mass</key>
		<real>5.2915793000000003e+22</real>
		<key>maxAtmosphere</key>
		<real>70000</real>
		<key>name</key>
		<string>Kerbin</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>3531600000000</real>
			<key>inclination</key>
			<real>0.0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>13599840256</real>
		</dict>
		<key>radius</key>
		<real>600000</real>
		<key>rotationPeriod</key>
		<real>21599.912014540099</real>
		<key>sphereOfInfluence</key>
		<real>84159286.4796305</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>9.7600236000000003e+20</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Mun</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>65138397520.780701</real>
			<key>inclination</key>
			<real>0.0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>1.70000004768372</real>
			<key>semiMajorAxis</key>
			<real>12000000</real>
		</dict>
		<key>radius</key>
		<real>200000</real>
		<key>rotationPeriod</key>
		<real>138984.37657447599</real>
		<key>sphereOfInfluence</key>
		<real>2429559.1165647502</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.6457897e+19</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Minmus</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.66322511575784515</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>1765800026.31247</real>
			<key>inclination</key>
			<real>6</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.3613568165555769</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.89999997615814198</real>
			<key>semiMajorAxis</key>
			<real>47000000</real>
		</dict>
		<key>radius</key>
		<real>60000</real>
		<key>rotationPeriod</key>
		<real>40400</real>
		<key>sphereOfInfluence</key>
		<real>2247428.3879022999</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.5263616999999999e+21</real>
		<key>maxAtmosphere</key>
		<real>14000</real>
		<key>name</key>
		<string>Moho</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.26179938779914941</real>
			<key>eccentricity</key>
			<real>0.20000000298023199</real>
			<key>gravitationalParameter</key>
			<real>168609378654.509</real>
			<key>inclination</key>
			<real>7</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.2217304763960306</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>5263138304</real>
		</dict>
		<key>radius</key>
		<real>250000</real>
		<key>rotationPeriod</key>
		<real>1210000</real>
		<key>sphereOfInfluence</key>
		<real>9646663.0233280994</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.2244127e+23</real>
		<key>maxAtmosphere</key>
		<real>90000</real>
		<key>name</key>
		<string>Eve</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0099999997764825804</real>
			<key>gravitationalParameter</key>
			<real>8171730229210.8701</real>
			<key>inclination</key>
			<real>2.0999999046325701</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.26179938779914941</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>9832684544</real>
		</dict>
		<key>radius</key>
		<real>700000</real>
		<key>rotationPeriod</key>
		<real>80500</real>
		<key>sphereOfInfluence</key>
		<real>85109364.738244101</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.5154812000000001e+21</real>
		<key>maxAtmosphere</key>
		<real>50000</real>
		<key>name</key>
		<string>Duna</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.050999999046325697</real>
			<key>gravitationalParameter</key>
			<real>301363211975.09802</real>
			<key>inclination</key>
			<real>0.059999998658895499</real>
			<key>longitudeOfAscendingNode</key>
			<real>2.3649211364523164</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>20726155264</real>
		</dict>
		<key>radius</key>
		<real>320000</real>
		<key>rotationPeriod</key>
		<real>65517.859375</real>
		<key>sphereOfInfluence</key>
		<real>47921949.369737998</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.7821948999999999e+20</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Ike</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.029999999329447701</real>
			<key>gravitationalParameter</key>
			<real>18568368573.144001</real>
			<key>inclination</key>
			<real>0.20000000298023199</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>1.70000004768372</real>
			<key>semiMajorAxis</key>
			<real>3200000</real>
		</dict>
		<key>radius</key>
		<real>130000</real>
		<key>rotationPeriod</key>
		<real>65517.8621348081</real>
		<key>sphereOfInfluence</key>
		<real>1049598.9393116201</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.2332634999999997e+24</real>
		<key>maxAtmosphere</key>
		<real>200000</real>
		<key>name</key>
		<string>Jool</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.050000000745058101</real>
			<key>gravitationalParameter</key>
			<real>282528004209995</real>
			<key>inclination</key>
			<real>1.30400002002716</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.90757121103705141</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.10000000149011599</real>
			<key>semiMajorAxis</key>
			<real>68773560320</real>
		</dict>
		<key>radius</key>
		<real>6000000</real>
		<key>rotationPeriod</key>
		<real>36000</real>
		<key>sphereOfInfluence</key>
		<real>2455985185.42347</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<true/>
		<key>mass</key>
		<real>2.9397662999999999e+22</real>
		<key>maxAtmosphere</key>
		<real>50000</real>
		<key>name</key>
		<string>Laythe</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>1962000029236.0801</real>
			<key>inclination</key>
			<real>0.0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>27184000</real>
		</dict>
		<key>radius</key>
		<real>500000</real>
		<key>rotationPeriod</key>
		<real>52980.8790593796</real>
		<key>sphereOfInfluence</key>
		<real>3723645.8111330201</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.1088028000000001e+21</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Vall</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>207481499473.75101</real>
			<key>inclination</key>
			<real>0.0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.89999997615814198</real>
			<key>semiMajorAxis</key>
			<real>43152000</real>
		</dict>
		<key>radius</key>
		<real>300000</real>
		<key>rotationPeriod</key>
		<real>105962.088893924</real>
		<key>sphereOfInfluence</key>
		<real>2406401.4447940402</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.7261536e+19</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Bop</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.43633231299858238</real>
			<key>eccentricity</key>
			<real>0.234999999403954</real>
			<key>gravitationalParameter</key>
			<real>2486834944.4149098</real>
			<key>inclination</key>
			<real>15</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.17453292519943295</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.89999997615814198</real>
			<key>semiMajorAxis</key>
			<real>128500000</real>
		</dict>
		<key>radius</key>
		<real>65000</real>
		<key>rotationPeriod</key>
		<real>544507.42851665395</real>
		<key>sphereOfInfluence</key>
		<real>1221060.86284253</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.2332635000000003e+22</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Tylo</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.0</real>
			<key>eccentricity</key>
			<real>0.0</real>
			<key>gravitationalParameter</key>
			<real>2825280042099.9502</real>
			<key>inclination</key>
			<real>0.025000000372528999</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>68500000</real>
		</dict>
		<key>radius</key>
		<real>600000</real>
		<key>rotationPeriod</key>
		<real>211926.35802123</real>
		<key>sphereOfInfluence</key>
		<real>10856518.368358601</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.2420512e+17</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Gilly</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.17453292519943295</real>
			<key>eccentricity</key>
			<real>0.55000001192092896</real>
			<key>gravitationalParameter</key>
			<real>8289449.8147163503</real>
			<key>inclination</key>
			<real>12</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.3962634015954636</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.89999997615814198</real>
			<key>semiMajorAxis</key>
			<real>31500000</real>
		</dict>
		<key>radius</key>
		<real>13000</real>
		<key>rotationPeriod</key>
		<real>28255</real>
		<key>sphereOfInfluence</key>
		<real>126123.271704568</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.0813636e+19</real>
		<key>maxAtmosphere</key>
		<real>0.0</real>
		<key>name</key>
		<string>Pol</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.26179938779914941</real>
			<key>eccentricity</key>
			<real>0.17085</real>
			<key>gravitationalParameter</key>
			<real>721702080</real>
			<key>inclination</key>
			<real>4.25</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.034906585039886591</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.89999997615814198</real>
			<key>semiMajorAxis</key>
			<real>179890000</real>
		</dict>
		<key>radius</key>
		<real>44000</real>
		<key>rotationPeriod</key>
		<real>901902.62353117298</real>
		<key>sphereOfInfluence</key>
		<real>1042138.8923017801</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.2191321999999998e+20</real>
		<key>maxAtmosphere</key>
		<real>14000</real>
		<key>name</key>
		<string>Dres</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>1.5707963267948966</real>
			<key>eccentricity</key>
			<real>0.14499999999999999</real>
			<key>gravitationalParameter</key>
			<real>21484488600</real>
			<key>inclination</key>
			<real>5</real>
			<key>longitudeOfAscendingNode</key>
			<real>4.8869219055841224</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>40839348203</real>
		</dict>
		<key>radius</key>
		<real>138000</real>
		<key>rotationPeriod</key>
		<real>34800</real>
		<key>sphereOfInfluence</key>
		<real>32832839.576776199</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.1149358e+21</real>
		<key>maxAtmosphere</key>
		<real>60000</real>
		<key>name</key>
		<string>Eeloo</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>4.5378560551852569</real>
			<key>eccentricity</key>
			<real>0.26000000000000001</real>
			<key>gravitationalParameter</key>
			<real>74410814527.049606</real>
			<key>inclination</key>
			<real>6.1500000000000004</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.87266462599716477</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.1400001049041699</real>
			<key>semiMajorAxis</key>
			<real>90118820000</real>
		</dict>
		<key>radius</key>
		<real>210000</real>
		<key>rotationPeriod</key>
		<real>19460</real>
		<key>sphereOfInfluence</key>
		<real>119082941.64781199</real>
	</dict>
</array>
</plist>
