<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.756567e+28</real>
		<key>maxAtmosphere</key>
		<real>700000000</real>
		<key>name</key>
		<string>Sun</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>1.17233279483249e+18</real>
			<key>inclination</key>
			<real>0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0</real>
			<key>semiMajorAxis</key>
			<real>0</real>
		</dict>
		<key>radius</key>
		<real>261600000</real>
		<key>rotationPeriod</key>
		<real>432000</real>
		<key>sphereOfInfluence</key>
		<real>0</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<true/>
		<key>mass</key>
		<real>5.2915793e+22</real>
		<key>maxAtmosphere</key>
		<real>70000</real>
		<key>name</key>
		<string>Kerbin</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>3531600000000</real>
			<key>inclination</key>
			<real>0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>13599840256</real>
		</dict>
		<key>radius</key>
		<real>600000</real>
		<key>rotationPeriod</key>
		<real>21599.9120145401</real>
		<key>sphereOfInfluence</key>
		<real>84159286.4796305</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>9.7600236e+20</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Mun</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>65138397520.7807</real>
			<key>inclination</key>
			<real>0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>1.70000004768372</real>
			<key>semiMajorAxis</key>
			<real>12000000</real>
		</dict>
		<key>radius</key>
		<real>200000</real>
		<key>rotationPeriod</key>
		<real>138984.376574476</real>
		<key>sphereOfInfluence</key>
		<real>2429559.11656475</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.6457897e+19</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Minmus</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.6632251157578452</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>1765800026.31247</real>
			<key>inclination</key>
			<real>6</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.361356816555577</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.899999976158142</real>
			<key>semiMajorAxis</key>
			<real>47000000</real>
		</dict>
		<key>radius</key>
		<real>60000</real>
		<key>rotationPeriod</key>
		<real>40400</real>
		<key>sphereOfInfluence</key>
		<real>2247428.3879023</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.5263617e+21</real>
		<key>maxAtmosphere</key>
		<real>14000</real>
		<key>name</key>
		<string>Moho</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.2617993877991494</real>
			<key>eccentricity</key>
			<real>0.200000002980232</real>
			<key>gravitationalParameter</key>
			<real>168609378654.509</real>
			<key>inclination</key>
			<real>7</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.221730476396031</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>5263138304</real>
		</dict>
		<key>radius</key>
		<real>250000</real>
		<key>rotationPeriod</key>
		<real>1210000</real>
		<key>sphereOfInfluence</key>
		<real>9646663.023328099</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.2244127e+23</real>
		<key>maxAtmosphere</key>
		<real>90000</real>
		<key>name</key>
		<string>Eve</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0.00999999977648258</real>
			<key>gravitationalParameter</key>
			<real>8171730229210.87</real>
			<key>inclination</key>
			<real>2.09999990463257</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.2617993877991494</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>9832684544</real>
		</dict>
		<key>radius</key>
		<real>700000</real>
		<key>rotationPeriod</key>
		<real>80500</real>
		<key>sphereOfInfluence</key>
		<real>85109364.7382441</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.5154812e+21</real>
		<key>maxAtmosphere</key>
		<real>50000</real>
		<key>name</key>
		<string>Duna</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0.0509999990463257</real>
			<key>gravitationalParameter</key>
			<real>301363211975.098</real>
			<key>inclination</key>
			<real>0.0599999986588955</real>
			<key>longitudeOfAscendingNode</key>
			<real>2.364921136452316</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>20726155264</real>
		</dict>
		<key>radius</key>
		<real>320000</real>
		<key>rotationPeriod</key>
		<real>65517.859375</real>
		<key>sphereOfInfluence</key>
		<real>47921949.369738</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>2.7821949e+20</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Ike</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0.0299999993294477</real>
			<key>gravitationalParameter</key>
			<real>18568368573.144</real>
			<key>inclination</key>
			<real>0.200000002980232</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>1.70000004768372</real>
			<key>semiMajorAxis</key>
			<real>3200000</real>
		</dict>
		<key>radius</key>
		<real>130000</real>
		<key>rotationPeriod</key>
		<real>65517.8621348081</real>
		<key>sphereOfInfluence</key>
		<real>1049598.93931162</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.2332635e+24</real>
		<key>maxAtmosphere</key>
		<real>200000</real>
		<key>name</key>
		<string>Jool</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0.0500000007450581</real>
			<key>gravitationalParameter</key>
			<real>282528004209995</real>
			<key>inclination</key>
			<real>1.30400002002716</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.9075712110370514</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.100000001490116</real>
			<key>semiMajorAxis</key>
			<real>68773560320</real>
		</dict>
		<key>radius</key>
		<real>6000000</real>
		<key>rotationPeriod</key>
		<real>36000</real>
		<key>sphereOfInfluence</key>
		<real>2455985185.42347</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<true/>
		<key>mass</key>
		<real>2.9397663e+22</real>
		<key>maxAtmosphere</key>
		<real>50000</real>
		<key>name</key>
		<string>Laythe</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>1962000029236.08</real>
			<key>inclination</key>
			<real>0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>27184000</real>
		</dict>
		<key>radius</key>
		<real>500000</real>
		<key>rotationPeriod</key>
		<real>52980.8790593796</real>
		<key>sphereOfInfluence</key>
		<real>3723645.81113302</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.1088028e+21</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Vall</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>207481499473.751</real>
			<key>inclination</key>
			<real>0</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.899999976158142</real>
			<key>semiMajorAxis</key>
			<real>43152000</real>
		</dict>
		<key>radius</key>
		<real>300000</real>
		<key>rotationPeriod</key>
		<real>105962.088893924</real>
		<key>sphereOfInfluence</key>
		<real>2406401.44479404</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.7261536e+19</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Bop</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.4363323129985824</real>
			<key>eccentricity</key>
			<real>0.234999999403954</real>
			<key>gravitationalParameter</key>
			<real>2486834944.41491</real>
			<key>inclination</key>
			<real>15</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.1745329251994329</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.899999976158142</real>
			<key>semiMajorAxis</key>
			<real>128500000</real>
		</dict>
		<key>radius</key>
		<real>65000</real>
		<key>rotationPeriod</key>
		<real>544507.4285166539</real>
		<key>sphereOfInfluence</key>
		<real>1221060.86284253</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>4.2332635e+22</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Tylo</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0</real>
			<key>eccentricity</key>
			<real>0</real>
			<key>gravitationalParameter</key>
			<real>2825280042099.95</real>
			<key>inclination</key>
			<real>0.025000000372529</real>
			<key>longitudeOfAscendingNode</key>
			<real>0</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>68500000</real>
		</dict>
		<key>radius</key>
		<real>600000</real>
		<key>rotationPeriod</key>
		<real>211926.35802123</real>
		<key>sphereOfInfluence</key>
		<real>10856518.3683586</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.2420512e+17</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Gilly</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.1745329251994329</real>
			<key>eccentricity</key>
			<real>0.550000011920929</real>
			<key>gravitationalParameter</key>
			<real>8289449.81471635</real>
			<key>inclination</key>
			<real>12</real>
			<key>longitudeOfAscendingNode</key>
			<real>1.396263401595464</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.899999976158142</real>
			<key>semiMajorAxis</key>
			<real>31500000</real>
		</dict>
		<key>radius</key>
		<real>13000</real>
		<key>rotationPeriod</key>
		<real>28255</real>
		<key>sphereOfInfluence</key>
		<real>126123.271704568</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.0813636e+19</real>
		<key>maxAtmosphere</key>
		<real>0</real>
		<key>name</key>
		<string>Pol</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>0.2617993877991494</real>
			<key>eccentricity</key>
			<real>0.17085</real>
			<key>gravitationalParameter</key>
			<real>721702080</real>
			<key>inclination</key>
			<real>4.25</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.03490658503988659</real>
			<key>meanAnomalyAtEpoch</key>
			<real>0.899999976158142</real>
			<key>semiMajorAxis</key>
			<real>179890000</real>
		</dict>
		<key>radius</key>
		<real>44000</real>
		<key>rotationPeriod</key>
		<real>901902.623531173</real>
		<key>sphereOfInfluence</key>
		<real>1042138.89230178</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>3.2191322e+20</real>
		<key>maxAtmosphere</key>
		<integer>0</integer>
		<key>name</key>
		<string>Dres</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>1.570796326794897</real>
			<key>eccentricity</key>
			<real>0.145</real>
			<key>gravitationalParameter</key>
			<real>21484488600</real>
			<key>inclination</key>
			<real>5</real>
			<key>longitudeOfAscendingNode</key>
			<real>4.886921905584122</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>40839348203</real>
		</dict>
		<key>radius</key>
		<real>138000</real>
		<key>rotationPeriod</key>
		<real>34800</real>
		<key>sphereOfInfluence</key>
		<real>32832839.5767762</real>
	</dict>
	<dict>
		<key>atmosphereContainsOxygen</key>
		<false/>
		<key>mass</key>
		<real>1.1149358e+21</real>
		<key>maxAtmosphere</key>
		<real>60000</real>
		<key>name</key>
		<string>Eeloo</string>
		<key>orbit</key>
		<dict>
			<key>argumentOfPeriapsis</key>
			<real>4.537856055185257</real>
			<key>eccentricity</key>
			<real>0.26</real>
			<key>gravitationalParameter</key>
			<real>74410814527.04961</real>
			<key>inclination</key>
			<real>6.15</real>
			<key>longitudeOfAscendingNode</key>
			<real>0.8726646259971648</real>
			<key>meanAnomalyAtEpoch</key>
			<real>3.14000010490417</real>
			<key>semiMajorAxis</key>
			<real>90118820000</real>
		</dict>
		<key>radius</key>
		<real>210000</real>
		<key>rotationPeriod</key>
		<real>19460</real>
		<key>sphereOfInfluence</key>
		<real>119082941.647812</real>
	</dict>
</array>
</plist>
